# Python-related
*.pyc
*.pyo
*.egg-info/
__pycache__/

# Virtual environment
/.venv*

# IDE related
.vscode/

# Other
.DS_Store
.env
.pytest_cache/
.ruff_cache/
.coverage

# Distribution / packaging
build/
dist/
dist-nuitka/
local/
nuitka-crash-report.xml

# MkDocs
/site/